<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="personne">
      <h2 data-cy="personneDetailsHeading"><span jhiTranslate="maTontineApp.personne.detail.title">Personne</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ personne.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="maTontineApp.personne.idUser" [ngbTooltip]="'maTontineApp.personne.help.idUser' | translate">Id User</span>
        </dt>
        <dd>
          <span>{{ personne.idUser }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.codeAssociation">Code Association</span></dt>
        <dd>
          <span>{{ personne.codeAssociation }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.matricule">Matricule</span></dt>
        <dd>
          <span>{{ personne.matricule }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.nom">Nom</span></dt>
        <dd>
          <span>{{ personne.nom }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.prenom">Prenom</span></dt>
        <dd>
          <span>{{ personne.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.dateNaissance">Date Naissance</span></dt>
        <dd>
          <span>{{ personne.dateNaissance | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.lieuNaissance">Lieu Naissance</span></dt>
        <dd>
          <span>{{ personne.lieuNaissance }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.dateInscription">Date Inscription</span></dt>
        <dd>
          <span>{{ personne.dateInscription | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.profession">Profession</span></dt>
        <dd>
          <span>{{ personne.profession }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.sexe">Sexe</span></dt>
        <dd>
          <span jhiTranslate="{{ 'maTontineApp.Sexe.' + personne.sexe }}">{{ personne.sexe }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.photoPath">Photo Path</span></dt>
        <dd>
          <span>{{ personne.photoPath }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.dateIntegration">Date Integration</span></dt>
        <dd>
          <span>{{ personne.dateIntegration | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.isAdmin">Is Admin</span></dt>
        <dd>
          <span>{{ personne.isAdmin }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.isDonateur">Is Donateur</span></dt>
        <dd>
          <span>{{ personne.isDonateur }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.isBenevole">Is Benevole</span></dt>
        <dd>
          <span>{{ personne.isBenevole }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.typePersonne">Type Personne</span></dt>
        <dd>
          <span jhiTranslate="{{ 'maTontineApp.TypePersonne.' + personne.typePersonne }}">{{ personne.typePersonne }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.personne.adresse">Adresse</span></dt>
        <dd>
          <div *ngIf="personne.adresse">
            <a [routerLink]="['/adresse', personne.adresse.id, 'view']">{{ personne.adresse.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/personne', personne.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
