<div>
  <h2 id="page-heading" data-cy="ContributionPotHeading">
    <span jhiTranslate="maTontineApp.contributionPot.home.title">ContributionPots</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="maTontineApp.contributionPot.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contribution-pot"
        [routerLink]="['/contribution-pot/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="maTontineApp.contributionPot.home.createLabel"> Créer un nouveau Contribution Pot </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="contributionPots?.length === 0">
    <span jhiTranslate="maTontineApp.contributionPot.home.notFound">Aucun Contribution Pot trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="contributionPots && contributionPots.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="identifiant">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.contributionPot.identifiant">Identifiant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="matriculeContributeur">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.contributionPot.matriculeContributeur">Matricule Contributeur</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montantContribution">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.contributionPot.montantContribution">Montant Contribution</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateContribution">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.contributionPot.dateContribution">Date Contribution</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pot.id">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.contributionPot.pot">Pot</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contributionPot of contributionPots; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contribution-pot', contributionPot.id, 'view']">{{ contributionPot.id }}</a>
          </td>
          <td>{{ contributionPot.identifiant }}</td>
          <td>{{ contributionPot.matriculeContributeur }}</td>
          <td>{{ contributionPot.montantContribution }}</td>
          <td>{{ contributionPot.dateContribution | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="contributionPot.pot">
              <a [routerLink]="['/pot', contributionPot.pot.id, 'view']">{{ contributionPot.pot.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contribution-pot', contributionPot.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contribution-pot', contributionPot.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(contributionPot)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="contributionPots && contributionPots.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
