<div>
  <h2 id="page-heading" data-cy="FonctionAdherentHeading">
    <span jhiTranslate="maTontineApp.fonctionAdherent.home.title">FonctionAdherents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="maTontineApp.fonctionAdherent.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fonction-adherent"
        [routerLink]="['/fonction-adherent/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="maTontineApp.fonctionAdherent.home.createLabel"> Créer un nouveau Fonction Adherent </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="fonctionAdherents?.length === 0">
    <span jhiTranslate="maTontineApp.fonctionAdherent.home.notFound">Aucun Fonction Adherent trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="fonctionAdherents && fonctionAdherents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="matriculeAdherent">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.fonctionAdherent.matriculeAdherent">Matricule Adherent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeFonction">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.fonctionAdherent.codeFonction">Code Fonction</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="datePriseFonction">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.fonctionAdherent.datePriseFonction">Date Prise Fonction</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateFinFonction">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.fonctionAdherent.dateFinFonction">Date Fin Fonction</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="actif">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.fonctionAdherent.actif">Actif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adherent.id">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.fonctionAdherent.adherent">Adherent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fonction.id">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.fonctionAdherent.fonction">Fonction</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fonctionAdherent of fonctionAdherents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fonction-adherent', fonctionAdherent.id, 'view']">{{ fonctionAdherent.id }}</a>
          </td>
          <td>{{ fonctionAdherent.matriculeAdherent }}</td>
          <td>{{ fonctionAdherent.codeFonction }}</td>
          <td>{{ fonctionAdherent.datePriseFonction | formatMediumDate }}</td>
          <td>{{ fonctionAdherent.dateFinFonction | formatMediumDate }}</td>
          <td>{{ fonctionAdherent.actif }}</td>
          <td>
            <div *ngIf="fonctionAdherent.adherent">
              <a [routerLink]="['/personne', fonctionAdherent.adherent.id, 'view']">{{ fonctionAdherent.adherent.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="fonctionAdherent.fonction">
              <a [routerLink]="['/fonction', fonctionAdherent.fonction.id, 'view']">{{ fonctionAdherent.fonction.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fonction-adherent', fonctionAdherent.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fonction-adherent', fonctionAdherent.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(fonctionAdherent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fonctionAdherents && fonctionAdherents.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
