<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-document-association-heading"
        data-cy="DocumentAssociationCreateUpdateHeading"
        jhiTranslate="maTontineApp.documentAssociation.home.createOrEditLabel"
      >
        Créer ou éditer un Document Association
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.documentAssociation.codeDocument" for="field_codeDocument"
            >Code Document</label
          >
          <input
            type="text"
            class="form-control"
            name="codeDocument"
            id="field_codeDocument"
            data-cy="codeDocument"
            formControlName="codeDocument"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.documentAssociation.libele" for="field_libele">Libele</label>
          <input type="text" class="form-control" name="libele" id="field_libele" data-cy="libele" formControlName="libele" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.documentAssociation.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.documentAssociation.dateEnregistrement" for="field_dateEnregistrement"
            >Date Enregistrement</label
          >
          <div class="input-group">
            <input
              id="field_dateEnregistrement"
              data-cy="dateEnregistrement"
              type="text"
              class="form-control"
              name="dateEnregistrement"
              ngbDatepicker
              #dateEnregistrementDp="ngbDatepicker"
              formControlName="dateEnregistrement"
            />
            <button type="button" class="btn btn-secondary" (click)="dateEnregistrementDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.documentAssociation.dateArchivage" for="field_dateArchivage"
            >Date Archivage</label
          >
          <div class="input-group">
            <input
              id="field_dateArchivage"
              data-cy="dateArchivage"
              type="text"
              class="form-control"
              name="dateArchivage"
              ngbDatepicker
              #dateArchivageDp="ngbDatepicker"
              formControlName="dateArchivage"
            />
            <button type="button" class="btn btn-secondary" (click)="dateArchivageDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.documentAssociation.version" for="field_version">Version</label>
          <input type="text" class="form-control" name="version" id="field_version" data-cy="version" formControlName="version" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.documentAssociation.association" for="field_association">Association</label>
          <select
            class="form-control"
            id="field_association"
            data-cy="association"
            name="association"
            formControlName="association"
            [compareWith]="compareAssociation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="associationOption" *ngFor="let associationOption of associationsSharedCollection">
              {{ associationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
