<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contact">
      <h2 data-cy="contactDetailsHeading"><span jhiTranslate="maTontineApp.contact.detail.title">Contact</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contact.id }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.contact.email" [ngbTooltip]="'maTontineApp.contact.help.email' | translate">Email</span></dt>
        <dd>
          <span>{{ contact.email }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.contact.telephone">Telephone</span></dt>
        <dd>
          <span>{{ contact.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.contact.mobile">Mobile</span></dt>
        <dd>
          <span>{{ contact.mobile }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.contact.adherent">Adherent</span></dt>
        <dd>
          <div *ngIf="contact.adherent">
            <a [routerLink]="['/personne', contact.adherent.id, 'view']">{{ contact.adherent.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/contact', contact.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
