<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-banque-heading" data-cy="BanqueCreateUpdateHeading" jhiTranslate="maTontineApp.banque.home.createOrEditLabel">
        Créer ou éditer un Banque
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.banque.codeAssociation" for="field_codeAssociation">Code Association</label>
          <input
            type="text"
            class="form-control"
            name="codeAssociation"
            id="field_codeAssociation"
            data-cy="codeAssociation"
            formControlName="codeAssociation"
          />
          <div
            *ngIf="
              editForm.get('codeAssociation')!.invalid &&
              (editForm.get('codeAssociation')!.dirty || editForm.get('codeAssociation')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codeAssociation')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.banque.libelle" for="field_libelle">Libelle</label>
          <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.banque.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.banque.dateOuverture" for="field_dateOuverture">Date Ouverture</label>
          <div class="d-flex">
            <input
              id="field_dateOuverture"
              data-cy="dateOuverture"
              type="datetime-local"
              class="form-control"
              name="dateOuverture"
              formControlName="dateOuverture"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.banque.dateCloture" for="field_dateCloture">Date Cloture</label>
          <div class="d-flex">
            <input
              id="field_dateCloture"
              data-cy="dateCloture"
              type="datetime-local"
              class="form-control"
              name="dateCloture"
              formControlName="dateCloture"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.banque.penaliteRetardRnbrsmnt" for="field_penaliteRetardRnbrsmnt"
            >Penalite Retard Rnbrsmnt</label
          >
          <input
            type="number"
            class="form-control"
            name="penaliteRetardRnbrsmnt"
            id="field_penaliteRetardRnbrsmnt"
            data-cy="penaliteRetardRnbrsmnt"
            formControlName="penaliteRetardRnbrsmnt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.banque.tauxInteretPret" for="field_tauxInteretPret">Taux Interet Pret</label>
          <input
            type="number"
            class="form-control"
            name="tauxInteretPret"
            id="field_tauxInteretPret"
            data-cy="tauxInteretPret"
            formControlName="tauxInteretPret"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
