<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tontine">
      <h2 data-cy="tontineDetailsHeading"><span jhiTranslate="maTontineApp.tontine.detail.title">Tontine</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tontine.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="maTontineApp.tontine.codeAssociation" [ngbTooltip]="'maTontineApp.tontine.help.codeAssociation' | translate"
            >Code Association</span
          >
        </dt>
        <dd>
          <span>{{ tontine.codeAssociation }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.libele">Libele</span></dt>
        <dd>
          <span>{{ tontine.libele }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.nombreTour">Nombre Tour</span></dt>
        <dd>
          <span>{{ tontine.nombreTour }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.nombrePersonne">Nombre Personne</span></dt>
        <dd>
          <span>{{ tontine.nombrePersonne }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.margeBeneficiaire">Marge Beneficiaire</span></dt>
        <dd>
          <span>{{ tontine.margeBeneficiaire }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.montantPart">Montant Part</span></dt>
        <dd>
          <span>{{ tontine.montantPart }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.montantCagnote">Montant Cagnote</span></dt>
        <dd>
          <span>{{ tontine.montantCagnote }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.penaliteRetardCotisation">Penalite Retard Cotisation</span></dt>
        <dd>
          <span>{{ tontine.penaliteRetardCotisation }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.typePenalite">Type Penalite</span></dt>
        <dd>
          <span jhiTranslate="{{ 'maTontineApp.TypePenalite.' + tontine.typePenalite }}">{{ tontine.typePenalite }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.dateCreation">Date Creation</span></dt>
        <dd>
          <span>{{ tontine.dateCreation | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.datePremierTour">Date Premier Tour</span></dt>
        <dd>
          <span>{{ tontine.datePremierTour | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.dateDernierTour">Date Dernier Tour</span></dt>
        <dd>
          <span>{{ tontine.dateDernierTour | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.statutTontine">Statut Tontine</span></dt>
        <dd>
          <span jhiTranslate="{{ 'maTontineApp.StatutTontine.' + tontine.statutTontine }}">{{ tontine.statutTontine }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.tontine.description">Description</span></dt>
        <dd>
          <span>{{ tontine.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/tontine', tontine.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
