<div>
  <h2 id="page-heading" data-cy="SanctionHeading">
    <span jhiTranslate="maTontineApp.sanction.home.title">Sanctions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="maTontineApp.sanction.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sanction"
        [routerLink]="['/sanction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="maTontineApp.sanction.home.createLabel"> Créer un nouveau Sanction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="sanctions?.length === 0">
    <span jhiTranslate="maTontineApp.sanction.home.notFound">Aucun Sanction trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="sanctions && sanctions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="libelle">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.sanction.libelle">Libelle</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="matriculeAdherent">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.sanction.matriculeAdherent">Matricule Adherent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateSanction">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.sanction.dateSanction">Date Sanction</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="motifSanction">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.sanction.motifSanction">Motif Sanction</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.sanction.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeActivite">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.sanction.codeActivite">Code Activite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sanctionConfig.id">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.sanction.sanctionConfig">Sanction Config</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sanction of sanctions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sanction', sanction.id, 'view']">{{ sanction.id }}</a>
          </td>
          <td>{{ sanction.libelle }}</td>
          <td>{{ sanction.matriculeAdherent }}</td>
          <td>{{ sanction.dateSanction | formatMediumDate }}</td>
          <td>{{ sanction.motifSanction }}</td>
          <td>{{ sanction.description }}</td>
          <td>{{ sanction.codeActivite }}</td>
          <td>
            <div *ngIf="sanction.sanctionConfig">
              <a [routerLink]="['/sanction-configuration', sanction.sanctionConfig.id, 'view']">{{ sanction.sanctionConfig.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/paiement-sanction']"
                [queryParams]="{ 'filter[sanctionId.in]': sanction.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('maTontineApp.sanction.paiementSanction' | translate) }"
                  >Show Paiement Sanction</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/sanction', sanction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sanction', sanction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(sanction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sanctions && sanctions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
