<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="banque">
      <h2 data-cy="banqueDetailsHeading"><span jhiTranslate="maTontineApp.banque.detail.title">Banque</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ banque.id }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.banque.codeAssociation">Code Association</span></dt>
        <dd>
          <span>{{ banque.codeAssociation }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.banque.libelle">Libelle</span></dt>
        <dd>
          <span>{{ banque.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.banque.description">Description</span></dt>
        <dd>
          <span>{{ banque.description }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.banque.dateOuverture">Date Ouverture</span></dt>
        <dd>
          <span>{{ banque.dateOuverture | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.banque.dateCloture">Date Cloture</span></dt>
        <dd>
          <span>{{ banque.dateCloture | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.banque.penaliteRetardRnbrsmnt">Penalite Retard Rnbrsmnt</span></dt>
        <dd>
          <span>{{ banque.penaliteRetardRnbrsmnt }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.banque.tauxInteretPret">Taux Interet Pret</span></dt>
        <dd>
          <span>{{ banque.tauxInteretPret }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/banque', banque.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
