<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="decaissementTontine">
      <h2 data-cy="decaissementTontineDetailsHeading">
        <span jhiTranslate="maTontineApp.decaissementTontine.detail.title">Decaissement Tontine</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ decaissementTontine.id }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="maTontineApp.decaissementTontine.libele"
            [ngbTooltip]="'maTontineApp.decaissementTontine.help.libele' | translate"
            >Libele</span
          >
        </dt>
        <dd>
          <span>{{ decaissementTontine.libele }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.decaissementTontine.dateDecaissement">Date Decaissement</span></dt>
        <dd>
          <span>{{ decaissementTontine.dateDecaissement | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.decaissementTontine.montantDecaisse">Montant Decaisse</span></dt>
        <dd>
          <span>{{ decaissementTontine.montantDecaisse }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.decaissementTontine.commentaire">Commentaire</span></dt>
        <dd>
          <span>{{ decaissementTontine.commentaire }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.decaissementTontine.tontine">Tontine</span></dt>
        <dd>
          <div *ngIf="decaissementTontine.tontine">
            <a [routerLink]="['/session-tontine', decaissementTontine.tontine.id, 'view']">{{ decaissementTontine.tontine.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="maTontineApp.decaissementTontine.compteTontine">Compte Tontine</span></dt>
        <dd>
          <div *ngIf="decaissementTontine.compteTontine">
            <a [routerLink]="['/compte-tontine', decaissementTontine.compteTontine.id, 'view']">{{
              decaissementTontine.compteTontine.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/decaissement-tontine', decaissementTontine.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
