<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-compte-rib-heading" data-cy="CompteRIBCreateUpdateHeading" jhiTranslate="maTontineApp.compteRIB.home.createOrEditLabel">
        Créer ou éditer un Compte RIB
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="maTontineApp.compteRIB.iban"
            for="field_iban"
            [ngbTooltip]="'maTontineApp.compteRIB.help.iban' | translate"
            >Iban</label
          >
          <input type="text" class="form-control" name="iban" id="field_iban" data-cy="iban" formControlName="iban" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.compteRIB.titulaireCompte" for="field_titulaireCompte"
            >Titulaire Compte</label
          >
          <input
            type="text"
            class="form-control"
            name="titulaireCompte"
            id="field_titulaireCompte"
            data-cy="titulaireCompte"
            formControlName="titulaireCompte"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.compteRIB.verifier" for="field_verifier">Verifier</label>
          <input type="checkbox" class="form-check" name="verifier" id="field_verifier" data-cy="verifier" formControlName="verifier" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.compteRIB.adherent" for="field_adherent">Adherent</label>
          <select
            class="form-control"
            id="field_adherent"
            data-cy="adherent"
            name="adherent"
            formControlName="adherent"
            [compareWith]="comparePersonne"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="personneOption" *ngFor="let personneOption of personnesSharedCollection">{{ personneOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
