<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-historique-personne-heading"
        data-cy="HistoriquePersonneCreateUpdateHeading"
        jhiTranslate="maTontineApp.historiquePersonne.home.createOrEditLabel"
      >
        Créer ou éditer un Historique Personne
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.historiquePersonne.dateAction" for="field_dateAction">Date Action</label>
          <div class="d-flex">
            <input
              id="field_dateAction"
              data-cy="dateAction"
              type="datetime-local"
              class="form-control"
              name="dateAction"
              formControlName="dateAction"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.historiquePersonne.matriculePersonne" for="field_matriculePersonne"
            >Matricule Personne</label
          >
          <input
            type="text"
            class="form-control"
            name="matriculePersonne"
            id="field_matriculePersonne"
            data-cy="matriculePersonne"
            formControlName="matriculePersonne"
          />
          <div
            *ngIf="
              editForm.get('matriculePersonne')!.invalid &&
              (editForm.get('matriculePersonne')!.dirty || editForm.get('matriculePersonne')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('matriculePersonne')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.historiquePersonne.action" for="field_action">Action</label>
          <input type="text" class="form-control" name="action" id="field_action" data-cy="action" formControlName="action" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.historiquePersonne.result" for="field_result">Result</label>
          <input type="text" class="form-control" name="result" id="field_result" data-cy="result" formControlName="result" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.historiquePersonne.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="maTontineApp.historiquePersonne.personne" for="field_personne">Personne</label>
          <select
            class="form-control"
            id="field_personne"
            data-cy="personne"
            name="personne"
            formControlName="personne"
            [compareWith]="comparePersonne"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="personneOption" *ngFor="let personneOption of personnesSharedCollection">{{ personneOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
