<div>
  <h2 id="page-heading" data-cy="PresenceHeading">
    <span jhiTranslate="maTontineApp.presence.home.title">Presences</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="maTontineApp.presence.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-presence"
        [routerLink]="['/presence/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="maTontineApp.presence.home.createLabel"> Créer un nouveau Presence </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="presences?.length === 0">
    <span jhiTranslate="maTontineApp.presence.home.notFound">Aucun Presence trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="presences && presences.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="matriculeAdherant">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.presence.matriculeAdherant">Matricule Adherant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statutPresence">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.presence.statutPresence">Statut Presence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fichePresence.id">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.presence.fichePresence">Fiche Presence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adherant.id">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.presence.adherant">Adherant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let presence of presences; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/presence', presence.id, 'view']">{{ presence.id }}</a>
          </td>
          <td>{{ presence.matriculeAdherant }}</td>
          <td jhiTranslate="{{ 'maTontineApp.StatutPresence.' + presence.statutPresence }}">{{ presence.statutPresence }}</td>
          <td>
            <div *ngIf="presence.fichePresence">
              <a [routerLink]="['/fiche-presence', presence.fichePresence.id, 'view']">{{ presence.fichePresence.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="presence.adherant">
              <a [routerLink]="['/personne', presence.adherant.id, 'view']">{{ presence.adherant.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/presence', presence.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/presence', presence.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(presence)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="presences && presences.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
