<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="paiementAdhesion">
      <h2 data-cy="paiementAdhesionDetailsHeading">
        <span jhiTranslate="maTontineApp.paiementAdhesion.detail.title">Paiement Adhesion</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ paiementAdhesion.id }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.paiementAdhesion.referencePaiement">Reference Paiement</span></dt>
        <dd>
          <span>{{ paiementAdhesion.referencePaiement }}</span>
        </dd>
        <dt><span jhiTranslate="maTontineApp.paiementAdhesion.adhesion">Adhesion</span></dt>
        <dd>
          <div *ngIf="paiementAdhesion.adhesion">
            <a [routerLink]="['/adhesion', paiementAdhesion.adhesion.id, 'view']">{{ paiementAdhesion.adhesion.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/paiement-adhesion', paiementAdhesion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
