<div>
  <h2 id="page-heading" data-cy="FormuleAdhesionHeading">
    <span jhiTranslate="maTontineApp.formuleAdhesion.home.title">FormuleAdhesions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="maTontineApp.formuleAdhesion.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-formule-adhesion"
        [routerLink]="['/formule-adhesion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="maTontineApp.formuleAdhesion.home.createLabel"> Créer un nouveau Formule Adhesion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="formuleAdhesions?.length === 0">
    <span jhiTranslate="maTontineApp.formuleAdhesion.home.notFound">Aucun Formule Adhesion trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="formuleAdhesions && formuleAdhesions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adhesionPeriodique">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.formuleAdhesion.adhesionPeriodique">Adhesion Periodique</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDebut">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.formuleAdhesion.dateDebut">Date Debut</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dureeAdhesionMois">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.formuleAdhesion.dureeAdhesionMois">Duree Adhesion Mois</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montantLibre">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.formuleAdhesion.montantLibre">Montant Libre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.formuleAdhesion.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tarif">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.formuleAdhesion.tarif">Tarif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adhesion.id">
            <div class="d-flex">
              <span jhiTranslate="maTontineApp.formuleAdhesion.adhesion">Adhesion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formuleAdhesion of formuleAdhesions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/formule-adhesion', formuleAdhesion.id, 'view']">{{ formuleAdhesion.id }}</a>
          </td>
          <td>{{ formuleAdhesion.adhesionPeriodique }}</td>
          <td>{{ formuleAdhesion.dateDebut | formatMediumDatetime }}</td>
          <td>{{ formuleAdhesion.dureeAdhesionMois }}</td>
          <td>{{ formuleAdhesion.montantLibre }}</td>
          <td>{{ formuleAdhesion.description }}</td>
          <td>{{ formuleAdhesion.tarif }}</td>
          <td>
            <div *ngIf="formuleAdhesion.adhesion">
              <a [routerLink]="['/adhesion', formuleAdhesion.adhesion.id, 'view']">{{ formuleAdhesion.adhesion.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/formule-adhesion', formuleAdhesion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/formule-adhesion', formuleAdhesion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(formuleAdhesion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="formuleAdhesions && formuleAdhesions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
